<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.iu.b1.notice.NoticeFilesMapper">
  	<insert id="noticeFilesInsert">
  		insert into noticeFiles values (0, #{num}, #{oname},#{fname})
  	</insert>
  	
  	<insert id="noticeFilesInsert2" parameterType="java.util.List">
  		insert into noticeFiles
  		values <foreach collection="list" item="item" index="index" separator=",">
  		(null, #{item.num}, #{item.fname}, #{item.oname})
  		</foreach>
  	
  	</insert>
  </mapper>
